# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.Rproj.user
data/*
RBR_condensed_raw.csv
StarOddi_condensed_raw.csv
TCMtemperature_condensed_raw.csv
TCMcurrent_condensed_raw.csv
BLE LTER TCM2018to2019.csv
YSI_for_calibration.csv
derived_BLE_insituCTD_2018to2019.csv
